@charset "utf-8";

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration: none;
    vertical-align:top;
}

header,main,footer{
    font-family: 'Noto Sans JP', sans-serif;
}

.header-inner h1,
.product-text h2{
    font-family: 'Zilla Slab', serif;
}

/*----------HEADER----------*/
/*-----hamburger-----*/
#hamburger-icon{
    display: none;
    width: 28px;
    height: 20.5px;
}

#hamburger-checkbox{
	display: none;
}

#hamburger-content{
    display: none;
}

/*-----header-----*/
.news{
    width: 100%;
    height: 35px;
    padding: 10px;
    text-align: center;
    background-color: #335f4d;
    position: fixed;
    z-index: 10;
}

.news p{
    color: white;
    font-size: .85em;
}

.header-inner{
    width: 100%;
    background: #ff8f39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: .4s;
    margin-top: 35px;
}

.header-inner-color{
    background: #ff8f39;
}

.header-inner nav ul{
    display: flex;
}

.header-inner nav li{
    margin-right: 35px;
}

.header-inner nav li:last-child{
    margin-right: 0;
}

.header-inner nav li a{
    color: white;
    position: relative;
}

.header-inner nav li a::after{
    position: absolute;
    bottom: -33px;
    left: 0;
    content: '';
    width: 100%;
    height: 2.4px;
    background: white;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.header-inner nav li a:hover::after {
    transform: scale(1, 1);
}

.header-inner a h1{
    position: absolute;
    color: white;
    font-size: 2.6em;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.fass{
    display: flex;
    font-size: 1.5em;
}

.fass a{
    color: white;
    display: block;
    margin-right: 20px;
}

.fass a:last-child{
    margin-right: 0;
}

/*----------FOOTER----------*/
footer{
    width: 100%;
    padding: 70px 50px 15px;
    background-color: #ff8f39;
}

.footer-inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-inner-left{
    display: flex;
}

.footer-inner-left h2{
    color: white;
    font-size: 1.7em;
}

.footer-inner-left nav{
    margin-left: 120px;
}

.footer-inner-left nav li{
    margin-bottom: 35px;
}

.footer-inner-left nav li:last-child{
    margin-bottom: 0;
}

.footer-inner-left nav li a{
    color: white;
}

.mail-sns{
    margin-left: 120px;
}

.mail-sns p:nth-child(1){
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.mail-sns p:nth-child(2){
    margin: 20px 0 10px;
    color: white;
}

#email{
    padding: 5px;
}

.mail-sns button{
    width: 70px;
    padding: 7.5px 0;
    margin-left: 10px;
    background: black;
    color: white;
    border: none;
    font-size: .9em;
    cursor: pointer;
}

.sns{
    margin-top: 160px;
}

.sns a{
    color: white;
}

.sns .fab{
    margin-right: 10px;
}

footer p:last-child{
    margin-top: 90px;
    text-align: center;
    color: white;
    font-size: .8em;
}

@media screen and (max-width:1200px){
    .header-inner nav{
        display: none;
    }

    .header-inner{
        padding: 30px 40px;
    }

    /*-----hamburger-----*/
    #hamburger{
        z-index: 10;
    }

    #hamburger-icon{
        display: block;
        position: relative;
        transition-duration: .5s;
        z-index: 10;
    }

    #hamburger-icon span,
    #hamburger-icon span::before,
    #hamburger-icon span::after{
        height: 1.5px;
        background-color: white;
        content: "";
        display: block;
        position: absolute;
        transition-duration: .5s;
    }

    #hamburger-icon span{
        width: 28px;
    }

    #hamburger-icon span::before{
        width: 28px;
    }

    #hamburger-icon span::after{
        width: 28px;
    }

    #hamburger-icon span{
        top: 50%;
        transform: translateY(-50%);
    }

    #hamburger-icon span::before{
        bottom: 8px;
    }

    #hamburger-icon span::after{
        top: 8px;
    }

    #hamburger-icon:hover{
        cursor: pointer;
    }

    /*メニュー内容(.hamburger-content)*/
    #hamburger-content{
        display: block;
        padding: 90px 40px;
        position: fixed;
        top: 0;
        left: -30%;
        width: 30%;
        height: 100%;
        background-color: #ff9e53;
        transition-duration: .5s;
    }

    #hamburger-content dl{
        padding: 25px 0;
        font-size: 1.1rem;
        border-bottom: 1px solid rgba(69, 69, 69, 0.3);
    }

    #hamburger-content dl a,
    #hamburger-content dl dt{
        color: #454545;
    }

    #hamburger-content dl dt{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #hamburger-content dd{
        display: none;
    }

    #hamburger-close{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    #hamburger-checkbox:checked~#hamburger-icon{
        transition-duration: .5s;
    }

    #hamburger-checkbox:checked~#hamburger-icon span{
        background: #ff9e53;
    }

    #hamburger-checkbox:checked~#hamburger-icon span::before{
        bottom: 0;
        transform: rotate(-45deg);
        background: #454545;
        transition-duration: .5s;
    }

    #hamburger-checkbox:checked~#hamburger-icon span::after{
        top: 0;
        transform: rotate(45deg);
        background: #454545;
        transition-duration: .5s;
    }

    #hamburger-checkbox:checked~#hamburger-content{
        left: 0;
    }

    #hamburger-checkbox:checked~#hamburger-close{
        display: block;
    }

    #hamburger-icon p:checked{
        display: none;
    }
}

@media screen and (max-width:900px){
    /*-----FOOTER-----*/
    .footer-inner-left{
        display: flex;
        flex-direction: column;
    }

    .footer-inner-left nav{
        margin-left: 0;
        margin-top: 50px;
    }

    .sns{
        margin-top: 240px;
    }
}

@media screen and (max-width:768px){
    /*-----HEADER-----*/
    .header-inner{
        padding: 20px;
    }

    .header-inner a h1{
        font-size: 2em;
    }

    .fass{
        font-size: 1.3em;
    }

    /*-----hamburger-----*/
    #hamburger-content{
        padding: 80px 25px;
    }
}

@media screen and (max-width:710px){
    /*-----FOOTER-----*/
    .mail-sns button{
        margin-left: 0;
        margin-top: 10px;
    }

    .mail-form{
        display: flex;
        flex-direction: column;
    }

    .sns{
        margin-top: 198px;
    }
}

@media screen and (max-width:625px){
    /*-----FOOTER-----*/
    .footer-inner{
        display: flex;
        flex-direction: column;
    }

    .mail-sns{
        margin-left: 0;
        margin-top: 50px;
    }

    .sns{
        margin-top: 50px;
    }
}



/*----------MAIN----------*/
/*-----product-img-----*/
.product-img{
    width: 100%;
    position: relative;
}

.product-img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 0 38%
}

.product-text{
    position: absolute;
    top: 58%;
    left: 14%;
    text-align: center;
}

.product-text h2{
    font-size: 2em;
}

.product-text p{
    margin-top: 10px;
}

/*-----product-content-----*/
.product-content{
    display: flex;
    padding: 150px 80px;
}

.products{
    display: flex;
    flex-wrap: wrap;

}

.products dl{
    margin-right: 30px;
    width: calc(100% / 3 - 20px);
    text-align: center;
    margin-bottom: 50px;
}

.products dl:nth-child(3),
.products dl:nth-child(6),
.products dl:nth-child(9),
.products dl:nth-child(12){
    margin-right: 0;
}

.products dl:nth-child(10),
.products dl:nth-child(11),
.products dl:nth-child(12){
    margin-bottom: 0;
}

.products dl dd{
    overflow: hidden;
    width: 100%;
    height: 340px;
}

.products dl img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    transition-duration: 1s;
}

.products dl img:hover{
    transform: scale(1.15);
}

.products dt{
    margin-top: 10px;
}

.products dt a{
    color: black;
}

.products dt a:hover{
    color: #0087cb;
}

.products p{
    margin-top: 5px;
}

.price{
    font-size: .9em;
    color: rgb(85, 85, 85);
}

/*-----sidebar-----*/
/*search*/
#sidebar{
    margin-left: 60px;
}

#search{
    border: none;
    padding: 0 0 10px;
    outline: none;
}

.search-content{
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(85, 85, 85);
    display: flex;
}

.search-content img{
    width: 19px;
    height: 19px;
}

#search[placeholder]{
    letter-spacing: 0.15em;
}

/*category*/
.category p{
    margin-bottom: 10px;
}

.category p a{
    color: black;
}

.category p a:hover{
    opacity: .5;
}

.category p:nth-child(1){
    font-weight: bold;
    margin-bottom: 25px;
}

@media screen and (max-width:1200px){
    .product-content{
        padding: 150px 30px;
    }

    .products dl dd{
        height: 370px;
    }

    .products dl img{
        height: 370px;
    }

    .product-content{
        display: flex;
        flex-direction: column;
    }

    .products{
        order: 2;
    }

    /*sidebar*/
    #sidebar{
        order: 1;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .search-content{
        margin-bottom: 60px;
        order: 2;
        display: flex;
        justify-content: space-between;
    }

    /*category*/
    .category{
        order: 1;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .category p{
        margin-bottom: 0;
        padding: 5px 30px;
        border-right: 2px solid rgba(128, 128, 128, .5);
    }

    .category p:nth-child(1){
        margin-bottom: 0;
        padding-left: 0;
    }

    .category p:nth-child(6){
        border-right: none;
        padding-right: 0;
    }
}

@media screen and (max-width:905px){
    .products dl dd{
        height: 300px;
    }

    .products dl img{
        height: 300px;
    }

    #sidebar{
        order: 2;
        margin-top: 110px;
    }

    .products{
        order: 1;
    }

    /*search*/
    #search{
        padding: 0;
        padding: 15px;
    }

    .search-content input{
        width: 100%;
        background: rgba(197, 195, 195, 0.5);
    }

    .search-content{
        order: 1;
        margin-bottom: 0;
        margin-bottom: 20px;
        border-bottom: none;
        align-items: center;
    }

    .search-content img{
        width: 22px;
        height: 22px;
        margin-left: 10px;
    }

    /*category*/
    .category{
        order: 2;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
    }

    .category p{
        padding: 0;
        margin-bottom: 10px;
        border-right: none;
    }

    .category p:nth-child(1){
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px){
    .product-text{
        top: 56%;
        left: 12%;
    }

    .product-content{
        padding: 150px 20px;
    }

    .products dl{
        margin-right: 20px;
        width: calc(100% / 2 - 10px);
    }

    .products dl:nth-child(3),
    .products dl:nth-child(5),
    .products dl:nth-child(7),
    .products dl:nth-child(9),
    .products dl:nth-child(11){
        margin-right: 20px;
    }

    .products dl:nth-child(2),
    .products dl:nth-child(4),
    .products dl:nth-child(6),
    .products dl:nth-child(8),
    .products dl:nth-child(10),
    .products dl:nth-child(12){
        margin-right: 0;
    }

    .products dl dd{
        height: 370px;
    }

    .products dl img{
        height: 370px;
    }
}

@media screen and (max-width:670px){
    .products dl dd{
        height: 330px;
    }

    .products dl img{
        height: 330px;
    }
}

@media screen and (max-width:600px){
    .products dl dd{
        height: 290px;
    }

    .products dl img{
        height: 290px;
    }
}

@media screen and (max-width:550px){
    .products dl dd{
        height: 260px;
    }

    .products dl img{
        height: 260px;
    }
}

@media screen and (max-width:500px){
    .products dl dd{
        height: 230px;
    }

    .products dl img{
        height: 230px;
    }
}