@charset "utf-8";

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration: none;
    vertical-align:top;
}

header,main,footer{
    font-family: 'Noto Sans JP', sans-serif;
}

.header-inner h1,
.product-text h2,
.title-text h2,
.text h3, .action h3, .member h3{
    font-family: 'Zilla Slab', serif;
}

/*----------HEADER----------*/
/*-----hamburger-----*/
#hamburger-icon{
    display: none;
    width: 28px;
    height: 20.5px;
}

#hamburger-checkbox{
	display: none;
}

#hamburger-content{
    display: none;
}

/*-----header-----*/
.header-inner{
    width: 100%;
    background: #ff8f39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: .4s;
}

.header-inner-color{
    background: #ff8f39;
}

.header-inner nav ul{
    display: flex;
}

.header-inner nav li{
    margin-right: 35px;
}

.header-inner nav li:last-child{
    margin-right: 0;
}

.header-inner nav li a{
    color: white;
    position: relative;
}

.header-inner nav li a::after{
    position: absolute;
    bottom: -33px;
    left: 0;
    content: '';
    width: 100%;
    height: 2.4px;
    background: white;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.header-inner nav li a:hover::after {
    transform: scale(1, 1);
}

.header-inner a h1{
    position: absolute;
    color: white;
    font-size: 2.6em;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.fass{
    display: flex;
    font-size: 1.5em;
}

.fass a{
    color: white;
    display: block;
    margin-right: 20px;
}

.fass a:last-child{
    margin-right: 0;
}

/*----------FOOTER----------*/
footer{
    width: 100%;
    padding: 70px 50px 15px;
    background-color: #ff8f39;
}

.footer-inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-inner-left{
    display: flex;
}

.footer-inner-left h2{
    color: white;
    font-size: 1.7em;
}

.footer-inner-left nav{
    margin-left: 120px;
}

.footer-inner-left nav li{
    margin-bottom: 35px;
}

.footer-inner-left nav li:last-child{
    margin-bottom: 0;
}

.footer-inner-left nav li a{
    color: white;
}

.mail-sns{
    margin-left: 120px;
}

.mail-sns p:nth-child(1){
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.mail-sns p:nth-child(2){
    margin: 20px 0 10px;
    color: white;
}

#email{
    padding: 5px;
}

.mail-sns button{
    width: 70px;
    padding: 7.5px 0;
    margin-left: 10px;
    background: black;
    color: white;
    border: none;
    font-size: .9em;
    cursor: pointer;
}

.sns{
    margin-top: 160px;
}

.sns a{
    color: white;
}

.sns .fab{
    margin-right: 10px;
}

footer p:last-child{
    margin-top: 90px;
    text-align: center;
    color: white;
    font-size: .8em;
}

@media screen and (max-width:1200px){
    .header-inner nav{
        display: none;
    }

    .header-inner{
        padding: 30px 40px;
    }

    /*-----hamburger-----*/
    #hamburger{
        z-index: 10;
    }

    #hamburger-icon{
        display: block;
        position: relative;
        transition-duration: .5s;
        z-index: 10;
    }

    #hamburger-icon span,
    #hamburger-icon span::before,
    #hamburger-icon span::after{
        height: 1.5px;
        background-color: white;
        content: "";
        display: block;
        position: absolute;
        transition-duration: .5s;
    }

    #hamburger-icon span{
        width: 28px;
    }

    #hamburger-icon span::before{
        width: 28px;
    }

    #hamburger-icon span::after{
        width: 28px;
    }

    #hamburger-icon span{
        top: 50%;
        transform: translateY(-50%);
    }

    #hamburger-icon span::before{
        bottom: 8px;
    }

    #hamburger-icon span::after{
        top: 8px;
    }

    #hamburger-icon:hover{
        cursor: pointer;
    }

    /*メニュー内容(.hamburger-content)*/
    #hamburger-content{
        display: block;
        padding: 90px 40px;
        position: fixed;
        top: 0;
        left: -30%;
        width: 30%;
        height: 100%;
        background-color: #ff9e53;
        transition-duration: .5s;
    }

    #hamburger-content dl{
        padding: 25px 0;
        font-size: 1.1rem;
        border-bottom: 1px solid rgba(69, 69, 69, 0.3);
    }

    #hamburger-content dl a,
    #hamburger-content dl dt{
        color: #454545;
    }

    #hamburger-content dl dt{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #hamburger-content dd{
        display: none;
    }

    #hamburger-close{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    #hamburger-checkbox:checked~#hamburger-icon{
        transition-duration: .5s;
    }

    #hamburger-checkbox:checked~#hamburger-icon span{
        background: #ff9e53;
    }

    #hamburger-checkbox:checked~#hamburger-icon span::before{
        bottom: 0;
        transform: rotate(-45deg);
        background: #454545;
        transition-duration: .5s;
    }

    #hamburger-checkbox:checked~#hamburger-icon span::after{
        top: 0;
        transform: rotate(45deg);
        background: #454545;
        transition-duration: .5s;
    }

    #hamburger-checkbox:checked~#hamburger-content{
        left: 0;
    }

    #hamburger-checkbox:checked~#hamburger-close{
        display: block;
    }

    #hamburger-icon p:checked{
        display: none;
    }
}

@media screen and (max-width:900px){
    /*-----FOOTER-----*/
    .footer-inner-left{
        display: flex;
        flex-direction: column;
    }

    .footer-inner-left nav{
        margin-left: 0;
        margin-top: 50px;
    }

    .sns{
        margin-top: 240px;
    }
}

@media screen and (max-width:768px){
    /*-----HEADER-----*/
    .header-inner{
        padding: 20px;
    }

    .header-inner a h1{
        font-size: 2em;
    }

    .fass{
        font-size: 1.3em;
    }

    /*-----hamburger-----*/
    #hamburger-content{
        padding: 80px 25px;
    }
}

@media screen and (max-width:710px){
    /*-----FOOTER-----*/
    .mail-sns button{
        margin-left: 0;
        margin-top: 10px;
    }

    .mail-form{
        display: flex;
        flex-direction: column;
    }

    .sns{
        margin-top: 198px;
    }
}

@media screen and (max-width:625px){
    /*-----FOOTER-----*/
    .footer-inner{
        display: flex;
        flex-direction: column;
    }

    .mail-sns{
        margin-left: 0;
        margin-top: 50px;
    }

    .sns{
        margin-top: 50px;
    }
}



/*----------MAIN----------*/
/*-----title-----*/
.title{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.title img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title-text{
    position: absolute;
    top: 58%;
    left: 14%;
    text-align: center;
}

.title-text h2{
    font-size: 2em;
}

.title-text p{
    margin-top: 10px;
}

/*-----text-----*/
.text{
    text-align: center;
    padding: 150px 0;
}

.text h3{
    font-size: 1.7em;
}

.text h4{
    margin: 30px 0;
    font-size: 1.1em;
}

.text p{
    line-height: 1.5;
}

/*-----action-----*/
.action{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.action h3{
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 50px;
}

.action dl{
    display: flex;
    margin-bottom: 40px;
}

.action dl:last-child{
    margin-bottom: 0;
}

.action dl:nth-child(1) dt,
.action dl:nth-child(2) dd,
.action dl:nth-child(3) dt{
    width: 450px;
    height: 350px;
}

.action dl img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.action dl:nth-child(2) dd,
.action dl:nth-child(4) dd{
    margin-left: 40px;
    margin-top: 40px;
}

.action dl:nth-child(3) dt{
    margin-right: 40px;
    margin-top: 40px;
}

.action dl h4{
    font-size: 1.5em;
    color: #ff8f39;
    font-weight: bold;
}

.action dl p{
    margin-top: 15px;
}

/*-----member-----*/
.member{
    padding: 150px 20px 200px;
}

.member h3{
    text-align: center;
    font-size: 1.6em;
}

.member-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.member-content dl{
    margin-right: 50px;
    text-align: center;
}

.member-content dl:last-child{
    margin-right: 0;
}

.member-content dl dt img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.member-content dl:nth-child(1) dt img{
    object-position: 50% 36%
}

.member-content dl:nth-child(2) dt img{
    object-position: 50% 20%
}

.member-content dl:nth-child(3) dt img{
    object-position: 50% 10%
}

.member-content dl dd h4{
    margin-top: 15px;
}

.member-content dl dd p{
    margin-top: 10px;
}